:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, #app, main {
  height: 100%;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

.current-project-description {
  height: 100%;
  overflow-y: auto;
}

.left-list_content-scroll {
  overflow-y: auto;
  height: 100%;
}

.list_wrapper {
  height: 100%;
  overflow-y: auto;
  flex: 1 1 0;
}

.left-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-pane_wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.toolbar-left {
  width: 40px;
  flex: 0 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.left-pane_panel {
  flex: 1 0 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  flex: 0 0 auto;
  width: 400px;
}

.right {
  flex: 1 1 0;
}
